.knowledge {
  .add {
    height: 170px;
    background-color: var(--color-bg);
  }
  .card {
    background-color: var(--color-bg);
    height: 170px;
    h3 {
      color: var(--color-text-1);
    }
  }
  .desc {
    color: var(--color-text-3);
  }
}
