.idea
*.tar
infra/support-files/images/keycloak/*.jar
logs
.venv
__pycache__
*.pyc
*.pyo
.DS_Store
*.pyd
*.egg-info
*.egg
*.whl
*.db
*.sqlite
*.log
*.pid
*.pdb
*.cover
*.coverage
.pytest_cache
*.hypothesis
models/