.list {
    margin-bottom: 20px;

    .required {
        &::after {
            content: "*";
            font-size: 14px;
            padding-left: 4px;
            color: var(--ant-color-error);
        }
    }

    .formItem {
        .operateBtn {
            visibility: hidden;
        }

        &:hover {
            .operateBtn {
                visibility: visible;
            }
        }
    }


    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    :global {
        .ant-collapse-header {
            background: var(--color-fill-1);
            margin-bottom: 6px;
        }

        .ant-collapse-expand-icon {
            color: var(--color-text-2);
        }

        .ant-collapse-item {
            background: var(--color-bg-1);
        }

        .ant-descriptions-item-label {
            background: var(--color-fill-1) !important;
            padding: 10px !important;
        }

        .ant-collapse-content-box {
            padding: 0 !important;
        }

        .ant-descriptions-item-label {
            width: 150px !important;
        }

        .ant-descriptions-item-content {
            width: 300px !important;
            padding: 10px !important;
        }

        .ant-btn-link {
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}