.menuContainer {
  :global {
    .ant-dropdown-menu-item {
      padding: 0 !important;
      div {
        width: 100%;
      }
      span {
        width: 100%;
      }
      .block {
        padding: 5px 12px;
      }
    }
  }
}
