.intergration {
    width: 100%;
    display: flex;
    overflow: hidden;

    .tree {
        height: calc(100vh - 146px);
        padding: 20px 10px 10px 10px;
        background: var(--color-bg-1);
        width: 210px;
        min-width: 210px;
        margin-right: 10px;
        overflow-y: auto;
    }

    .cards {
        width: 100%;
        background: var(--color-bg-1);
        padding: 20px;

        .intergrationList {
            height: calc(100vh - 236px);
            overflow-y: auto;
        }
    }

    .lineClamp3 {
        height: 60px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: normal;
    }
}