.env
/.idea/
/venv/
/logs/
static
*.sqlite3
*/__pycache__/
.vscode
*.pyc
.pytest_cache
.coverage
htmlcov
token
assets/static
templates/index.prod.html
output
swagger.yml
USERRES
staticfiles/
local_settings.py
requirements.txt
dist
*.log