.searchFilter {
  .attrList {
    :global {
      .ant-select-selector {
        border-radius: 6px 0 0 6px;
      }
    }
  }

  :global {
    .ant-input,
    .ant-picker,
    .ant-select-selector {
      border-radius: 0;
    }

    .ant-checkbox-wrapper {
      border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);
      padding: 4px 4px 4px 8px;
      height: 32px;
      border-radius: 0 4px 4px 0;
    }
  }
}