[[inputs.processes]]
    interval = "{{ interval }}s"
    [inputs.processes.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "host"
        config_type = "processes"