[[inputs.system]]
    interval = "{{ interval }}s"
    [inputs.system.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "host"
        config_type = "system"