[[inputs.docker]]
    endpoint = "{{ url }}"
    interval = "{{ interval }}s"
    [inputs.docker.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "docker"
        config_type = "docker"