[[inputs.elasticsearch]]
    servers = ["{{ server }}"]
    username = "{{ username }}"
    password = "{{ password }}"
    interval = "{{ interval }}s"
    [inputs.elasticsearch.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "database"
        config_type = "elasticsearch"
