[[inputs.mysql]]
    servers = ["{{ username }}:{{ password }}@tcp({{ host }}:{{ port }})/?tls=false"]
    metric_version = 2
    interval = "{{ interval }}s"
    [inputs.mysql.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "database"
        config_type = "mysql"