.menuCol {
  color: var(--color-components-nav-button-text);
  &:hover {
    background: var(--color-components-nav-button-bg-hover);
  }
  &.active {
    color: var(--color-components-nav-button-text-active);
    background: var(--color-components-nav-button-bg-active);
  }
}
.nav {
  background-color: var(--color-text-hover);
  margin-left: 16px !important;
  .icons {
    color: var(--color-text-4);
  }
  &:hover {
    color: var(--color-primary);
  }
}
 .navApp {
  background-color: var(--color-fill-1);
  color: var(--color-text-3);
  &:hover {
    color: var(--color-primary);
  }
}
