[[inputs.ipmi_sensor]]
    servers = ["{{ server }}"]
    interval = "{{ interval }}s"
    [inputs.ipmi_sensor.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "ipmi"