div.selectedKnowledge {
  border-color: var(--color-primary) !important;
}
.chatContainer {
  background: var(--color-fill-1);
  box-shadow: 2px 4px 6px var(--color-fill-3);
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  padding: 10px;
  background-color: var(--color-bg);
  :global {
    .ant-pro-chat-chat-list-container {
      height: 100% !important;
    }
  }
}
.borderContainer {
  border: 1px solid var(--color-border-2);
  background: var(--color-bg-1);
}
