.attrLayout {
  :global {
    .ant-card-body {
      padding: 10px !important;
      border: none !important;
    }
    aside {
      height: calc(100vh - 90px);
    }
    section {
      width: calc(100vw - 250px);
    }
  }
}