.CommonCard {
  :global {
    .ant-card-body {
      padding: 0;
      color: var(--color-text-1);
      border: none;
      background-color: var(--color-bg);
      .ant-card-meta-title {
        font-size: 14px;
      }
    }
  }
  .iconContainer {
    position: absolute;
    top: 20px;
    right: 35px;
    background-color: var(--color-bg);
  }
  .desc {
    color: var(--color-text-3);
  }
}

.addNew {
  background-color: var(--color-bg);
  min-height: 185px;
}
.borderContainer {
  border: 1px solid var(--color-border-2);
  background: var(--color-bg-1);
}

.statusTag {
  display: flex;
  align-items: center;
  border: none;
  font-size: 10px;
  width: fit-content;

  &::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    background-color: currentColor;
    border-radius: 50%;
  }
}

.online::before {
  background-color: #389e0d;
}

.offline::before {
  background-color: #e4e4e4;
}

.cardFillColor {
  background: var(--color-fill-1);
}

.selectedCommonItem {
  background: var(--color-bg-active);
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid var(--color-primary);
    border-left: 30px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 5px;
  }

  .checkedIcon {
    position: absolute;
    top: 5px;
    right: 2px;
    font-size: 12px;
    color: #ffffff;
    z-index: 99;
  }
}

.disabledCommonItem {
  color: var(--color-text-4);
  cursor: not-allowed;
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid var(--color-fill-4);
    border-left: 30px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 5px;
  }
  .disabledIcon {
    position: absolute;
    top: 5px;
    right: 2px;
    font-size: 12px;
    color: #ffffff;
    z-index: 99;
  }
}

.resultsItem {
  background-color: var(--color-fill-1);
  border-color: var(--color-border);
  color: var(--color-text-3);
  &:hover {
    cursor: pointer;
    background-color: var(--color-bg-1);
    box-shadow: 2px 2px 2px var(--color-fill-1);
    border: 1px solid var(--color-border-1);
  }
  .content {
    color: var(--color-text-1);
    word-break: break-all;
  }
  .activeTxt {
    color: var(--color-text-active) !important;
  }
}

.segmented {
  :global {
    .ant-segmented {
      background: transparent;
      color: var(--color-text-1);
      .ant-segmented-item {
        margin-right: 8px;
        padding: 3px 6px !important;
      }
      .ant-segmented-item-selected {
        color: var(--color-primary);
      }
    }
  }
}

.menuContainer {
  :global {
    .ant-dropdown-menu-item {
      padding: 0 !important;
      div {
        width: 100%;
      }
      span {
        width: 100%;
      }
      .block {
        padding: 5px 12px;
      }
    }
  }
}

.batchOperationMenu {
  :global {
    .ant-dropdown-menu-item {
      padding: 0 !important;
      div {
        width: 100%;
      }
      .ant-dropdown-menu-title-content {
        width: 100%;
        display: flex;
        > span {
          width: 100%;
          button {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}