DEBUG=True
SECRET_KEY=weops-lite

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

ENABLE_CELERY=False
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_BEAT_SCHEDULER=

REDIS_CACHE_URL=

NATS_SERVERS=
NATS_NAMESPACE=

CLIENT_ID=