langchain==0.3.20
langchain-openai==0.3.8
langchain-community==0.3.19
python-dotenv==1.0.1
langchain-experimental==0.3.4
langchain-mcp-adapters==0.0.5
tqdm==4.66.4
jinja2==3.1.4
nanoid==2.0.0
langgraph==0.3.21
langgraph-checkpoint-postgres==2.0.19
langchain-elasticsearch==0.3.2
sanic==24.6.0
sanic-ext==23.12.0
Sanic-HTTPAuth==0.2.0
python-pptx==0.6.23
python-docx==1.1.2
redis==5.0.1

pillow==10.3.0
pandas==2.2.2
openpyxl==3.1.5
tabulate==0.9.0
jpype1==1.5.2
pymupdf==1.24.5
markdownify==0.12.1
tabula-py==2.10.0

paddlepaddle==3.0.0rc1
paddleocr==2.10.0
paddleclas==2.5.2
numpy==1.26.4
azure-cognitiveservices-vision-computervision==0.9.0

loguru==0.7.3

duckduckgo-search==7.2.1

playwright==1.51.0
sanic-fire==0.1
langchain-huggingface==0.1.2

python-jenkins==1.8.2
kubernetes==32.0.1