.assetsOverview {
  font-size: 14px !important;
  width: 100%;
  height: 100%;

  .my-masonry-grid {
    margin-top: 20px;
    display: flex;
    width: 100%;
    max-height: calc(100vh - 160px);
    overflow: auto;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px 12px;
    margin-bottom: 4px;
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-primary);
    }
  }

  .list {
    padding-top: 12px;

    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 15px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      border-radius: 4px;
      margin: 2px 0;

      &:hover {
        background: var(--color-fill-1);
      }

      .leftSide {
        display: flex;
        align-items: center;

        img {
          width: 22px;
          height: 22px;
          margin-right: 12px;
        }

        span {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
          line-height: 1.5;
          letter-spacing: 0.3px;
        }
      }

      .rightSide {
        color: var(--color-text-3);
        font-weight: 500;
        min-width: 24px;
        text-align: right;
      }
    }
  }

  :global {
    .my-masonry-grid_column {
      padding-left: 20px;
      background-clip: padding-box;
    }

    .my-masonry-grid_column > div {
      margin-bottom: 20px;
    }
  }
}
