.column-user {
    display: flex;
    align-items: center;
}

.column-user .user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    min-width: 24px;
    border-radius: 50%;
    margin-right: 10px;
    background: var(--color-fill-3);
    color: var(--color-bg);
    font-size: 12px;
}

.column-user .user-name,
.hide-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-modal-confirm-btns, .ant-modal-footer, .ant-popconfirm-buttons  {
    display: flex;
    flex-direction: row-reverse;
}

.ant-modal-footer button:nth-child(2) {
    margin-right: 10px;
}

.ant-modal-confirm-btns button:nth-child(1) {
    margin-left: 8px;
}

.custom-tabs {
    background: transparent;
    color: var(--color-text-1);
}

.custom-tabs .ant-segmented-item {
    margin-right: 8px;
}

.custom-tabs .ant-segmented-item-selected {
    color: var(--color-primary);
}

.recordStatus {
    position: relative;
    top: 2px;
    margin-right: 4px;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 3px solid #f0f1f5;
    background-color: #b2b5bd;
}

.ant-table .ant-form-item {
    margin: 0;
}

.customMenu .ant-dropdown-menu-item {
    padding: 0 !important;
}

.customMenu .customMenuItem {
    display: inline-block;
    width: 100%;
    padding: 5px 12px;
}