[Unit]
Description=Fusion Collector Sidecar
After=network.target

[Service]
Type=simple
ExecStart=/opt/fusion-collectors/collector-sidecar -c /opt/fusion-collectors/sidecar.yml
User=root
Group=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target